@import "./_base.css";
@import "./_layout.css";
@import "./modules/_example.css";

.logo {
  width: 200px; /* Largeur du rectangle */
  height: 100px; /* Hauteur du rectangle */
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
}

.header-rectangle-2 {
  width: 200px; /* Largeur du rectangle */
  height: 100px; /* Hauteur du rectangle */
  background-color: #2980b9;
  border: 2px solid #2980b9; /* Bordure du rectangle (optionnelle) */
  display: block;
  align-items: flex-end;
  position: fixed;
  top: 20px;
  right: 20px;
}

.characters {
  height: 600px;
  position: relative;
  top: 216px;
  left: 400px;
}

.background-intro {
  height: 800px; /* Hauteur du rectangle */
  content: "";
  display: block;
  background-image: url("../img/yopougon-fond.png");
  background-position: center;
  background-size: 1600px;
  margin-top: -600px;
}

.part-1-text-1 {
  width: 600px;
  position: relative;

  left: 500px;
}

.part-1-img-1 {
  width: 350px;
  position: relative;
  top: 250px;
  right: -400px;
}

.part-1-img-2 {
  width: 500px;
  position: relative;
  top: 500px;
  left: -800px;
}

.background-main-part-1 {
  height: 800px; /* Hauteur du rectangle */
  content: "";
  display: block;
  background-image: url("../img/youpougon-jour-fond.png");
  background-position: center;
  background-size: 1600px;
  margin-top: -280px;
}

.part-img-1 {
  margin-top: -10px;
}

.part-3-text-1 {
  width: 600px;
  position: relative;
  left: 100px;
  top: 100px;
}

.part-3-img-1 {
  width: 600px;
  position: relative;
  top: 200px;
  right: 100px;
}

.part-3-img-2 {
  width: 600px;
  position: relative;
  top: 350px;
  left: 200px;
}

.part-3-img-3 {
  width: 600px;
  position: relative;
  top: 800px;
  left: 200px;
}

.background-main-part-3 {
  height: 1550px; /* Hauteur du rectangle */
  content: "";
  display: block;
  background-image: url("../img/yopougon-soir-fond.png");
  background-position: center;
  background-size: 1600px;
  margin-top: -600px;
}

.part-3-img-4 {
  margin-top: -10px;
}

.part-4-text-1 {
  width: 690px;
  position: relative;
  left: 500px;
}

.part-4-img-1 {
  width: 700px;
  position: relative;
  top: 200px;
  right: 200px;
}

.part-4-img-2 {
  width: 500px;
  position: relative;
  top: 400px;
  left: 100px;
}

.part-4-img-3 {
  width: 600px;
  position: relative;
  top: 800px;
  left: 350px;
}

.background-main-part-4 {
  height: 1720px; /* Hauteur du rectangle */
  content: "";
  display: block;
  background-image: url("../img/fond-nuit.png");
  background-position: center;
  background-size: 1600px;
  margin-top: -810px;
}
