@import "./_base.css";
@import "./_layout.css";
@import "./modules/_example.css";

.logo {
  width: 200px; /* Largeur du rectangle */
  height: 100px; /* Hauteur du rectangle */
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
}

.header-rectangle-2 {
  width: 200px; /* Largeur du rectangle */
  height: 100px; /* Hauteur du rectangle */
  background-color: #2980b9;
  border: 2px solid #2980b9; /* Bordure du rectangle (optionnelle) */
  display: block;
  align-items: flex-end;
  position: fixed;
  top: 20px;
  right: 20px;
}

.intro {
  height: 100vh;
  position: relative;
  background-image: url(../img/yopougon-fond.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.characters {
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.part-1 {
  position: relative;
  top: 250px;
}

.part-2 {
  position: relative;
  top: 250px;
  margin-top: -10px;
}

.part-3 {
  position: relative;
  top: 250px;
}

.part-1-text-1 {
  width: 50%;
  position: absolute;

  left: 25%;
  top: 15%;
}

.part-1-img-1 {
  width: 30%;
  position: absolute;
  right: 10%;
  top: 30%;
}

.part-1-img-2 {
  width: 40%;
  position: absolute;
  left: 10%;
  bottom: 10%;
}

.background-main-part-1 {
  height: 100vh;
  content: "";
  display: block;
  background-image: url("../img/youpougon-jour-fond.png");
  background-position: center;
  margin-top: -280px;
  background-repeat: no-repeat;
}

.part-3-text-1 {
  width: 40%;
  position: absolute;
  left: 20%;
  top: 10%;
}

.part-3-img-1 {
  width: 40%;
  position: absolute;
  right: 20%;
  top: 11%;
}

.part-3-img-2 {
  width: 40%;
  position: absolute;
  left: 10%;
  top: 30%;
}

.part-3-img-3 {
  width: 40%;
  position: absolute;
  right: 10%;
  top: 50%;
}

.background-main-part-3 {
  height: 1550px; /* Hauteur du rectangle */
  content: "";
  display: block;
  background-image: url("../img/yopougon-soir-fond.png");
  background-position: center;
  background-size: 1600px;
  margin-top: -600px;
}

.part-3-img-4 {
  margin-top: -10px;
}

.part-4-text-1 {
  width: 690px;
  position: relative;
  left: 500px;
}

.part-4-img-1 {
  width: 700px;
  position: relative;
  top: 200px;
  right: 200px;
}

.part-4-img-2 {
  width: 500px;
  position: relative;
  top: 400px;
  left: 100px;
}

.part-4-img-3 {
  width: 600px;
  position: relative;
  top: 800px;
  left: 350px;
}

.background-main-part-4 {
  height: 1720px; /* Hauteur du rectangle */
  content: "";
  display: block;
  background-image: url("../img/fond-nuit.png");
  background-position: center;
  background-size: 1600px;
  margin-top: -810px;
}

.part-5 {
  background-color: black;
  padding: 70px;
}

.part-5-text-1 {
  width: 500px;
  position: relative;
  left: 500px;
  padding-bottom: 300px;
}

.text-purchase {
  color: white;
}
